{% trans %}
The CKAN Data Portals platform serves as an integral component of the OICT Data Architecture implementation within the United Nations. 
Its primary objective is to promote the effortless<br><br>

exchange of public datasets among the various UN Secretariat Departments and Offices, making data sharing accessible to individuals with varying technical expertise.<br><br>
This inclusive approach not only streamlines data dissemination but also fosters a culture of collaboration and knowledge sharing across the organization. This dynamic platform is based on CKAN,the world's leading open-source data portal platform. CKAN's is aimed at data publishers wanting to
make their data open and available. This will empower users to not only share their datasets with ease but also to discover and explore the wealth of data available. <br><br>
It offers a wide range of features and tools that enhance data accessibility,curation, and analysis, making it an indispensable resource for the UN community as
they work towards their collective goals.<br>
{% endtrans %}