{% ckan_extends %}



{% block header_wrapper %}
<div class="account-masthead">
    <div class="container">
        {% block header_account_container_content %} {% if c.userobj %}
        <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="list-unstyled">
                {% block header_account_logged %} {% if c.userobj.sysadmin %}
                <li>
                    <a href="{{ h.url_for('admin.index') }}" title="{{ _('Sysadmin settings') }}">
                        <i class="fa fa-gavel" aria-hidden="true"></i>
                        <span class="text">{{ _('Admin') }}</span>
                    </a>
                </li>
                {% endif %}
                {% block header_account_profile %}
                <li>
                    <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image"
                        title="{{ _('View profile') }}">
                        {{ h.user_image((c.user if c and c.user else ''), size=22) }}
                        <span class="username">{{ c.userobj.display_name }}</span>
                    </a>
                </li>
                {% endblock %}
                {% block header_dashboard %}
                <li>
                    <a href="{{ h.url_for('dashboard.datasets') }}" title="{{ _(" View dashboard") }}">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span class="text">{{ _('Dashboard') }}</span>
                    </a>
                </li>
                {% endblock %}
                {% block header_account_settings_link %}
                <li>
                    <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="text">{{ _('Profile settings') }}</span>
                    </a>
                </li>
                {% endblock %} {% block header_account_log_out_link %}
                <li>
                    <a href="/user/logout" title="{{ _('Log out') }}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="text">{{ _('Log out') }}</span>
                    </a>
                </li>
                {% endblock %} {% endblock %}
            </ul>
        </div>
        {% else %}
        <nav class="account not-authed" aria-label="{{ _('Account') }}">
            <ul class="list-unstyled">
                {% block header_account_notlogged %}
                <li>{% link_for _('Log in'), named_route='user.login' %}</li>
                {% if h.check_access('user_create') %}
                <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
                {% endif %} {% endblock %}
            </ul>
        </nav>
        {% endif %} {% endblock %}
    </div>
</div>


<header class="un-header">
    <!-- <div class="d-flex justify-content-around sub-header">
        <div class=" d-flex align-items-center ckan--logo">
            <a href="{{ h.url_for('home.index') }}">
                <img src="/assest/svg/ckan-icon.svg" alt="" srcset="">
            </a>
            <h6 class="ms-2 mb-0 ckan-text">CKAN</h6>
        </div>
        <div class="d-flex  text-dark ckan--button ">
            <a class="p-2 " href="/{{ request.environ.CKAN_LANG }}/user/login">Login</a>
            <a class="p-2 " href="/{{ request.environ.CKAN_LANG }}/user/register">Register</a>
        </div>
    </div> -->
    {#
    {% block header_debug %}
    {% if g.debug and not g.debug_supress_header %}
    <div class="debug">
        Controller : {{ c.controller }}
        <br />
        Action : {{ c.action }}
    </div>
    {% endif %}
    {% endblock header_debug %}
    #}

    <div class="un-subheader ">
        <div class="un-subheader--left ">
            <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16"
                viewBox="0 0 50 50">
                <path
                    d="M 25 1.0507812 C 24.7825 1.0507812 24.565859 1.1197656 24.380859 1.2597656 L 1.3808594 19.210938 C 0.95085938 19.550938 0.8709375 20.179141 1.2109375 20.619141 C 1.5509375 21.049141 2.1791406 21.129062 2.6191406 20.789062 L 4 19.710938 L 4 46 C 4 46.55 4.45 47 5 47 L 19 47 L 19 29 L 31 29 L 31 47 L 45 47 C 45.55 47 46 46.55 46 46 L 46 19.710938 L 47.380859 20.789062 C 47.570859 20.929063 47.78 21 48 21 C 48.3 21 48.589063 20.869141 48.789062 20.619141 C 49.129063 20.179141 49.049141 19.550938 48.619141 19.210938 L 25.619141 1.2597656 C 25.434141 1.1197656 25.2175 1.0507812 25 1.0507812 z M 35 5 L 35 6.0507812 L 41 10.730469 L 41 5 L 35 5 z">
                </path>
            </svg>
            <p class="">{{_("Welcome to United Nations")}} </p>
        </div>
        <div class="lang">
            <a class="" href="/ar/">العربية</a>
            <a class="" href="/zh_Hans_CN/"> 中文</a>
            <a class="" href="/en/">English</a>
            <a class="" href="/fr/">Français</a>
            <a class="" href="/ru/">Русский</a>
            <a class="" href="/es/">Español</a>
        </div>
    </div>
</header>

<hr class="header-hr">

<div class="un-header-branding">
    <a href="{{ h.url_for('home.index') }}">
        <img  id="un-branding-logo" src="/assest/img/UN-logo-{{ request.environ.CKAN_LANG }}.png" alt="" srcset="">
    </a>
    <div class="vertical"></div>
    <p class=" un-quote">{{ _("Peace, dignity and equality") }}<br>{{ _("on a healthy planet") }} </p>
</div>


<nav class="topnav">

    <a class="nav-link {% if request.environ['CKAN_CURRENT_URL'] == '/dataset/'  %} active {% endif %}"
        aria-current="page" href="/{{ request.environ.CKAN_LANG }}/dataset/">{{ _("Datasets") }} </a>
    <a class="nav-link {% if request.environ['CKAN_CURRENT_URL'] == '/organization/'  %} active {% endif %}"
        href="/{{ request.environ.CKAN_LANG }}/organization/">{{ _("Organizations") }} </a>
    <a class="nav-link {% if request.environ['CKAN_CURRENT_URL'] == '/group/'  %} active {% endif %} "
        href="/{{ request.environ.CKAN_LANG }}/group/">{{ _("Groups") }} </a>
    <a class="nav-link {% if request.environ['CKAN_CURRENT_URL'] == '/about'  %} active {% endif %} "
        href="/{{ request.environ.CKAN_LANG }}/about">{{ _("About") }} </a>

</nav>

{% endblock header_wrapper %}